:root {
    --color-fondo: #333; /* Color de fondo oscuro */
    --color-letras: #fff; /* Color de letras blanco */
}

/* Estilos globales */
body {
    background-color: var(--color-fondo);
    color: var(--color-letras);
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
}

header {
    background-color: #2a2a2a; /* Un tono ligeramente más claro que el fondo */
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15%;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: violet;
    text-decoration: none;
}
.logo{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
main {
    padding: 20px;
}

section {
    background-color: #3a3a3a; /* Un tono ligeramente más claro que el fondo */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.main-cursos a {
   color: violet;
}

footer {
    background-color: #2a2a2a; /* Un tono ligeramente más claro que el fondo */
    padding: 20px;
    text-align: center;
}
.icono{
    height: 20px;
    width: 20px;
}